<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="files/favicon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Homixide Gang</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="title" content="Home - Homixide Gang">
    
</head>
<body>


     <div class="overlay" id="overlay">
        <img src="files/HXG-LOGO-FFF7EB-2.png" alt="Welcome Image">
    </div>
    
   !-- <div class="burger">
    <img class="burger_button" src="files/{F47759BB-EBDE-4BB8-8D79-06CBDD5DE8FD}.png" alt="">
   </div>
    
        <video id="video_player" preload="auto" playsinline autoplay loop muted poster="/static/media/Merch Backdrop GIF.8b5b1b163335df8ccf81.gif"
  src="files/landingpage.fa60d40ef125bd280d4a.mp4" class="sc-iBkjds gYCGXc h-full w-full object-cover block object-center"></video>
  
  <div class="button-container">
    <a href="/merch" target="_blank" class="invisible-button">
        
    </a>
</div> 
<script src="css/ShowContent.js" ></script>
  

   
</body>
</html>